@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/*  */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.container {
    background: hsl(0, 0%, 100%);
    width: 50%;
    max-width: 375px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-weight: 400;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translateY(10%);
    color: hsl(229, 23%, 23%);
}

.bg-pattern {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}

.profile-pic {
    width: 65%;
    border-radius: 50%;
    border: 5px hsl(0, 0%, 100%) solid;
    margin: 0.4rem;
}

.data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateY(-30%);
}

.status {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-top: 1px solid hsl(0, 0%, 59%);
    padding: 1rem;
    text-align: center;
}

.city {
    color: hsl(0, 0%, 59%);
    margin-bottom: 30px;
}

.age {
    color: hsl(0, 0%, 59%);
    padding-left: 0.3rem;
    font-weight: 400;
}

.name {
    font-weight: 700;
}

h1 {
    font-size: 1.5rem;
}

p {
    color: hsl(227, 10%, 46%);
    font-size: 1rem;
}

@media (max-width: 975px) {
    .container {
        width: 90%;

    }

}

.bg-top {
    position: fixed;
    transform: translateX(-45%) translateY(-50%);
}

.bg-bottom {
    position: fixed;
    transform: translateX(50%) translateY(55%);
}